.card{
    grid-template-areas: 
    "img"
    "title"
    "txt"
    "btn"
    ;

    padding: 1rem;
    border-style: solid none;
    border-color: var(--primary-5);
    border-width: 1px;
}

.card>img {
    width: 100%;
    grid-area: img;
}

.card h2 {
    grid-area: title;
    text-transform: uppercase;
    color: var(--primary-base);
    /* margin-block-end: 1.375rem;
    margin-inline-end: 3.625rem; */
    font-size: 1.75rem;
}

.card .paras{
    grid-area: txt;
    /* height: 8rem; */
    /* text-overflow: ellipsis; */
    /* margin-block-end: -3rem;
    overflow: hidden; */

}

.card p {
    color: var(--primary-1);
    font-weight: bold;
    /* margin-inline-end: 1.625rem; */
    margin-block-end: 0.8rem;
}

.card button {
    grid-area: btn;
    height: 2.5rem;
    width: fit-content;
    padding-inline: 1.5625rem;
    border-radius: 3em;
    /* as long as it's taller than the button it works */
    border-color: var(--primary-4);
    border-style: solid;
    color: var(--primary-4);
    background:none;
    align-self: end;
    /* margin-block-start: 2.75rem; */
    font-size: 1rem;
}

button.arrow {
    position: relative;
    transition: padding 100ms;
}

.card button:hover {
    color: var(--secondary-base);
    border-color: var(--secondary-base);
    cursor: pointer;
}

button.arrow:hover {
    padding-inline-end: 2.6em;
}

button.arrow:hover::after {
    content: "→";
    position: absolute;
    right: 0.875em;
}