:root {

    --primary-7: #f8f8f8;
    --primary-6: #e5e5e5;
    --primary-5: #e1e0e0;
    --primary-4: #c2c2c2;
    --primary-3: #A6A6A6;
    --primary-2: #818181;
    --primary-1: #606060;
    --primary-base: #4F4E4E;
    --primary--1: #292929;
    --primary--1-half: #29292983;
    --primary--2: #1e1e1e;

    --secondary-base: #58c93a;
}